@import 'components/open-sans'
@import 'components/index/navbar'
@import 'components/index/home'

$font-stack: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

body
  margin: 0 auto
  background-color: #333

nav
  font-family: $font-stack

.container
  max-width: 768px
  margin: 0 auto
  padding: 3rem 1rem 1rem 1rem
  font-family: $font-stack