@import 'components/open-sans'

$font-stack: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

body
  margin: 0 auto

.main-container
  max-width: 768px
  margin: 0 auto
  font-family: $font-stack

nav
  .header
    display: inline-block
  .tag-container
    display: inline-flex
    float: right
    justify-content: flex-end
  .sub-tag-container
    display: flex
    justify-content: flex-end