@import '../constants'

.home-card.footer
  padding: 0.5rem 1rem
  display: flex
  justify-content: space-between
  align-items: center

  @media (max-width: $s-screen)
    display: block

  hr
    display: none

    @media (max-width: $s-screen)
      display: block

  .copyright
    font-size: 0.875rem
    color: #666

    @media (max-width: $s-screen)
      text-align: center

  .bmc
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0.5rem 0

    &-text
      font-size: 0.875rem
      padding-right: 0.5rem

    &-button
      display: flex
      align-items: center
      background-color: #333
      padding: 0.5rem 0.75rem

      &:hover
        background-color: #666

      &:active
        background-color: #999

      &, &:hover, &:active
        transition: background-color 0.25s

    img
      height: 2rem