@import '../constants'

.home-card.footer
  padding: 0.5rem 1rem
  display: flex
  justify-content: center
  align-items: center
  column-gap: 0.25rem

  font-size: 0.875rem
  color: #666

  a
    color: #666
    transition: all 0.25s

    &:hover
      color: #999
      transition: all 0.25s