@import '../constants'

%home-link
  color: #333
  text-decoration: none

  &:hover
    color: #999

  &:active
    color: #ccc

  &, &:hover, &:active
    transition: color 0.25s


.home-header
  margin: 1rem 0

  display: grid
  grid-template-columns: repeat(6, 1fr)

  &-img
    width: 100%
    grid-column: 5 / 7

    @media (max-width: $l-screen)
      grid-column: 4 / 7

    @media (max-width: $s-screen)
      grid-column: 3 / 7


.social-media
  display: grid
  grid-template-columns: 1fr 1fr

  @media (max-width: $s-screen)
    grid-template-columns: 1fr

  &-item
    @extend %home-link

    img
      height: 2rem
      width: 2rem
      padding: 0.25rem
      display: inline-block
      vertical-align: middle

  &-platform
    margin-left: 0.5rem
    font-size: 0.875rem
    color: #666

  &-name
    margin-left: 0.25rem
    text-decoration: underline


.things-used
  display: grid
  grid-template-columns: 1fr 4fr
  align-items: center

  @media (max-width: $s-screen)
    grid-template-columns: 1fr

  &-title
    margin: 0.25rem 0
    padding: 0.5rem

    font-size: 1rem
    font-weight: normal
    text-align: center

    @media (max-width: $s-screen)
      padding: 0.25rem 0.5rem

    color: #eee
    background: linear-gradient(120deg, #00660a, #004d63)

    &.js
      background: linear-gradient(120deg, #677000, #116400)

    &.ci
      background: linear-gradient(120deg, #006c7a, #020063)

    &.graphics
      background: linear-gradient(120deg, #58004c, #500011)

    &.dtm
      background: linear-gradient(120deg, #532f00, #5f6100)

  &-list
    padding: 0.25rem 1rem
    display: flex
    flex-wrap: wrap

    @media (max-width: $s-screen)
      padding: 0.25rem 0.5rem

  &-item
    @extend %home-link

    display: flex
    align-items: center

    padding: 0.25rem
    padding-right: 0.75rem

  &-link, &-no-link
    padding: 0 0.25rem
    font-size: 0.875rem

  &-link
    text-decoration: underline

  &-icon
    height: 1.5rem
    width: 1.5rem

  &-fav
    height: 0.75rem
    width: 0.75rem


.home-card.links
  display: grid
  grid-template-columns: 1fr 5fr
  align-items: center

  padding: 0.5rem 1rem

  @media (max-width: $s-screen)
    grid-template-columns: 1fr

    h1
      margin-bottom: 0.25rem

  .external-links
    display: flex
    justify-content: flex-end
    flex-wrap: wrap

    @media (max-width: $s-screen)
      justify-content: flex-start

    &-item
      display: flex
      align-items: center
      margin: 0.25rem 0 0.25rem 0.5rem

      @media (max-width: $s-screen)
        margin: 0.25rem 0.5rem 0.25rem 0

      img
        width: 2.5rem
        height: 2.5rem