$l-screen: 768px
$s-screen: 640px

%container
  max-width: $l-screen
  width: 100%
  height: 100%
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center

%absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: absolute

nav
  width: 100%
  position: fixed
  top: 0

  .header
    background: linear-gradient(#eee, #dedede 87.5%, #ddd)
    box-shadow: 0px 0px 10px #666
    z-index: 2

    display: flex

    &-container
      @extend %container

    &-icon
      height: 3rem

    &-dropdown
      height: 1rem
      margin-left: 1rem
      z-index: 2

      transition: transform 0.5s

    .rotated
      transform: rotate(90deg)
      transition: transform 0.5s

  .sub-tag-list
    background: rgba(16, 16, 16, 0.75)
    transform: translateY(-100%)
    transition: transform 0.5s

    position: relative
    z-index: -1

    &-container
      @extend %container
      justify-content: flex-end

      @media (max-width: $s-screen)
        display: block

  .down
    transform: translateY(0)
    transition: transform 0.5s



.tag-list
  height: 3rem

  display: flex
  justify-content: flex-end
  align-items: center

  .tag-container
    height: 100%
    padding: 0 1rem

    display: flex
    align-items: center
    text-decoration: none

    position: relative
    z-index: 1

    &::before
      @extend %absolute
      content: ''

      background: linear-gradient(#eee, #e8e8e8 30%, #fff)
      opacity: 0
      z-index: 0

      transition: opacity 0.1s linear

      @media (max-width: $s-screen)
        display: none

    &:hover::before
      opacity: 1

    &:active::before
      background: linear-gradient(#f0f0f0, #fff)
      z-index: 2
      @media (max-width: $s-screen)
        display: flex

    .tag
      color: #333
      z-index: 2

  .tag-selected
    background: linear-gradient(#92fe9d, #00c9ff)

    .tag
      color: #fff
      text-shadow: 0px 0px 8px #333

.sub-tag-container
  height: 2rem
  padding: 0 0.5rem

  display: flex
  align-items: center
  text-decoration: none

  @media (max-width: $s-screen)
    padding: 0 1rem

  .sub-tag
    color: #eee
    font-size: 0.875rem

    @media (max-width: $s-screen)
      display: block

.sub-tag-divider
  border-right: 1px solid #ddd
  height: 1rem
  display: flex

  @media (max-width: $s-screen)
    height: auto
    width: calc(100% - 1.5rem)
    margin: 0 auto

    border: none
    border-bottom: 1px solid #ddd

.display-none
  display: none