.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.static {
  user-select: none;
  -webkit-user-drag: none;
}

.no-events {
  pointer-events: none;
}

.no-click-fx {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fx-quick-hover {
  transition: all 0.25s ease;
}

.fx-quick-hover:hover {
  transition: all 0.25s ease;
}

.icon-md {
  width: 1rem;
  height: 1rem;
}

.icon-sm {
  width: 0.75rem;
  height: 0.75rem;
}

.card {
  padding: 0.25rem;

  background-color: hsla(0, 0%, 100%, 80%);
  border: 1px solid hsl(0, 0%, 10%);
  border-radius: 0.5rem;

  backdrop-filter: blur(4px);
  box-shadow: 0 0 6px hsla(0, 0%, 0%, 15%);
}
