/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/cascadia-code.woff2') format('woff2');
  font-weight: 400;
}

/* CSS Variables */

:root {
  --color-language: #07eecf;
  --color-pl: #1e99fd;
  --color-frontend: #0ddb48;
  --color-desktop: #7e4bf7;
  --color-art: #f35b35;
  --color-design: #ce4bf7;
  --color-compose: #f5982d;
  --color-idealist: #666666;
}

.text-pl {
  color: var(--color-pl);
}

.text-frontend {
  color: var(--color-frontend);
}

.text-art {
  color: var(--color-art);
}

.text-design {
  color: var(--color-design);
}

.text-compose {
  color: var(--color-compose);
}

.text-idealist {
  color: var(--color-idealist);
}

/* Global settings */

* {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;

  &,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: #000;
  }
}

button {
  all: unset;
  cursor: pointer;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
