@use 'sass:color';

/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/cascadia-code.woff2') format('woff2');
  font-weight: 400;
}

/* CSS Variables */

:root {
  --color-language: #0ad8df;
  --color-frontend: #3ba158;
  --color-backend: #0c7edb;
  --color-art: #f3522a;
  --color-design: #a531e9;
  --color-compose: #df7803;
  --color-idealist: #666666;
}

.text-frontend {
  color: var(--color-frontend);
}

.text-backend {
  color: var(--color-backend);
}

.text-art {
  color: var(--color-art);
}

.text-design {
  color: var(--color-design);
}

.text-compose {
  color: var(--color-compose);
}

.text-idealist {
  color: var(--color-idealist);
}

/* Global settings */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;

  &,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}

button {
  all: unset;
  cursor: pointer;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}